.settings-panel {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.reset-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
}